body {
	margin: 0;
	padding: 0;
}

#map {
	width: 800px;
	height: 600px;
}

.leaflet-control-attribution {
	display: none;
}

/* MARKERS */

.station-marker {
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;

	stroke: black;
	opacity: .5;
	fill: orange;
	cursor: pointer;
	z-index: 9000 !important;
}

.station-marker:hover {
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;

	stroke: black;
	opacity: 1;
	fill: orange;
	cursor: pointer;
	z-index: 9001 !important;
}

.station-marker.station-clicked {
	opacity: 1;
	stroke-width: 2;
	z-index: 9002 !important;
}

/* TOOLTIPS */



/* TABS */

#primary-container {
	width: 1000px;
}

md-content {
	background-color: transparent !important;
}

md-content md-tabs {
	background: #f6f6f6;
	border: 1px solid #e1e1e1;
}

md-content md-tabs md-tabs-canvas {
	background: white;
}

md-content h1:first-child {
	margin-top: 0;
}


/* CHARTS */

#charts {
	padding: 10px 0;
}

.crossfitler-chart {
	display: inline-block;
	height: 150px;
	margin-bottom: 20px;
}

.background.bar {
	/* color of bars not selected by brush */
	fill: #ccc;
}

.foreground.bar {
 	fill: steelblue;
}

.axis path, .axis line {
	fill: none;
	stroke: #000;
	shape-rendering: crispEdges;
}

.brush rect.extent {
	fill: steelblue;
	fill-opacity: .125;
}

#hour-chart {
	width: 260px;
}

#date-chart {
	width: 420px;
}

#duration-chart {
	width: 420px;
}


/* GRAPH */


#scatterplot .overlay {
	fill: none;
	pointer-events: all;
}

#scatterplot {
	margin: 0px 10px;
	border: 1px solid #444;
}
