body {
	margin: 0;
	padding: 0;
}

#map {
	width: 100%;
}

div.marker-default {
	z-index: 9000 !important;
	top: -10px;
  left: -10px;
}


div.marker-default:hover {
	z-index: 10000 !important;
}

div.marker-default div.icon-container {
	text-align: center;
	font-size: 12px;

	padding-top: 2%;
	/*padding-top: 1px;*/

	border-radius: 50%;
	width: 20px;
	height: 20px;
	opacity: 0.75;
	background: #ff6600;

	-webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  -ms-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}

div.marker-default div.icon-container:hover {
	-webkit-transform: scale(1.25);
  -moz-transform: scale(1.25);
  -ms-transform: scale(1.25);
  -o-transform: scale(1.25);
	transform: scale(1.25);
	-webkit-box-shadow:inset 0px 0px 0px 1px #CC5200;
	-moz-box-shadow:inset 0px 0px 0px 1px #CC5200;
	box-shadow:inset 0px 0px 0px 1px #CC5200;
	opacity: 0.9;
	z-index: 1000;
}

.leaflet-control-attribution {
	display: none;
}
